{% extends "tco_app/index.html" %}

{% block content %}
<div class="content-section">
    <form id="frmSim" method="POST">
		{% csrf_token %}
		<div class="form-group">
			<label for="allsystems">System</label>
			<select class="form-control" id="allsystems">
				<option value="0">Select System</option>
				{% for s in systems %}
				<option value="{{ s.id }}">{{ s.system_name }}</option>
				{% endfor %}
			</select>
		</div>
		<div class="form-group" style="display:none" id="divModels">
			<label for="allmodels">Model</label>
			<select class="form-control" id="allmodels">
				<option value="0">Select Model</option>
			</select>
		</div>
		<div class="form-group" style="display:none" id="divCpus">
			<label for="allcpus">CPU</label>
			<select class="form-control" id="allcpus">
				<option value="0">Select CPU</option>
			</select>
		</div>
		<div class="form-group" style="display:none" id="lblCpu">
			<label for="cpulabel">CPU</label>
			<input type="text" class="form-control" id="cpulabel" disabled />
		</div>
		<div class="row">
			<div class="col-8">
				<div class="form-group" style="display:none" id="divPay">
					<label for="txtPay">How much do you pay per year?</label>
					<input type="number" class="form-control" id="txtPay" />
				</div>
			</div>
			<div class="col">
				<div class="form-group" style="display:none" id="divCurrency">
					<label for="allcurrency">Currency</label>
					<select class="form-control" id="allcurrency">
						<option value="0">Select Currency</option>
                        {% for c in currency %}
						<option value="{{ c.iso_code }}">{{ c.country }}</option>
                        {% endfor %}
					</select>
				</div>
			</div>
		</div>
		<button type="submit" class="btn btn-primary" style="display:none" id="btnSim">Continue</button>
	</form>
</div>
{% endblock content %}